---
layout: default
---

<div class="well">

	<script src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js"></script>

	<!-- Firebase App is always required and must be first -->
	<script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-app.js"></script>

	<!-- Add additional services that you want to use -->
	<script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-firestore.js"></script>

	<!-- Comment out (or don't include) services that you don't want to use -->
	<!-- <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-database.js"></script> -->
	<!-- <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-storage.js"></script> -->
	<!-- <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-messaging.js"></script> -->
	<!-- <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-functions.js"></script> -->

	<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
	<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

	<b>Link: </b> <input type="textfield" id="clipLinkText" style='width:100%'></input><br>
	<b>Comment: </b>	<input type="textfield" id="clipCommentText" style='width:100%'></input><br>
	<b>Tag: </b>	<input type="textfield" id="tagText" style='width:100%'></input><br>
	
	<br>
	<input type="checkbox" id="isTournamentResult" name="isTournamentResult" value="isTournamentResult">isTournamentResult<br>
	<b>TournamentName: </b>	<input type="textfield" id="tournamentNameText" style='width:100%'></input><br>
	<b>TournamentTag: </b>	<input type="textfield" id="tournamentTagText" style='width:100%'></input><br>
	<b>WinnerPlayer: </b>	<input type="textfield" id="winnerPlayerText" style='width:100%'></input><br>
	<b>WinnerCharacter: </b>	<input type="textfield" id="winnerCharacterText" style='width:100%'></input><br>
	
	<br>
	<button id="addClipButton">Add Clip</button>

	<br>
	<div id="embedClip">
	</div>

	<hr>
	<button id="updateViewButton">Update View Count</button>
	
	<script>
		// Initialize Firebase
		var config = {
		apiKey: "AIzaSyDkxHrIpkBIVIMSuR3Zkr0_X2oiyyyUdAM",
		authDomain: "hifight-9a09c.firebaseapp.com",
		databaseURL: "https://hifight-9a09c.firebaseio.com",
		projectId: "hifight-9a09c",
		storageBucket: "hifight-9a09c.appspot.com",
		messagingSenderId: "236845143850"
		};
		var app = firebase.initializeApp(config);
		db = firebase.firestore(app);
		
		var provider = new firebase.auth.GoogleAuthProvider();
		
		firebase.auth().getRedirectResult().then(function(result) {
			
			if (result.credential) {
				// This gives you a Google Access Token. You can use it to access the Google API.
				var token = result.credential.accessToken;
				// ...
			}
			// The signed-in user info.
			var user = result.user;
			if(!user)
			{
				firebase.auth().signInWithRedirect(provider);
				console.log("No User. Redirect to sign-in");
			}
			else
			{
				console.log("Sign-in!");
			}
		}).catch(function(error) {
			// Handle Errors here.
			var errorCode = error.code;
			var errorMessage = error.message;
			// The email of the user's account used.
			var email = error.email;
			// The firebase.auth.AuthCredential type that was used.
			var credential = error.credential;
			// ...
			
			console.log("getRedirectResult Error: ", error);
		});
		
		const clipLinkText = document.querySelector("#clipLinkText");
		const clipCommentText = document.querySelector("#clipCommentText");
		const tagText = document.querySelector("#tagText");
		const isTournamentResult = document.querySelector("#isTournamentResult");
		const tournamentNameText = document.querySelector("#tournamentNameText");
		const tournamentTagText = document.querySelector("#tournamentTagText");
		const winnerPlayerText = document.querySelector("#winnerPlayerText");
		const winnerCharacterText = document.querySelector("#winnerCharacterText");
		const addClipButton = document.querySelector("#addClipButton");
		addClipButton.addEventListener("click", function()
		{
			var httpRequest = new XMLHttpRequest();

			httpRequest.addEventListener('load', function()
			{
				clipList = JSON.parse(httpRequest.responseText);
				console.log(clipList);
				clipList.data.forEach(function(clip, index, array) {
					var embedClip = document.getElementById('embedClip');
					embedClip.innerHTML = "";
					var iframe = document.createElement('iframe');
					iframe.src = clip.embed_url;
					iframe.height = 360;
					iframe.width = 640;
					iframe.allowfullscreen = true;
					embedClip.appendChild(iframe);
					
					var documentName = clip.title + '-' + clip.id;
					var newClipDoc = db.collection("clips").doc(documentName);
					var tagArray = tagText.value.split(/[ ,]+/).filter(Boolean);
					for(i = 0; i < tagArray.length; i++)
						tagArray[i] = tagArray[i].toLowerCase();
						
					var tournamentNameValue = "";
					var tournamentTagValue = "";
					var winnerPlayerValue = "";
					var winnerCharacterValue = "";
					if(isTournamentResult.checked)
					{
						tournamentNameValue = tournamentNameText.value;
						tournamentTagValue = tournamentTagText.value;
						winnerPlayerValue = winnerPlayerText.value;
						winnerCharacterValue = winnerCharacterText.value;
					}
						
					newClipDoc.set({
						id: clip.id,
						title: clip.title,
						url: clip.url,
						embed_url: clip.embed_url,
						broadcaster_name: clip.broadcaster_name,
						creator_name: clip.creator_name,
						video_id: clip.video_id,
						game_id: clip.game_id,
						created_at: clip.created_at,
						thumbnail_url: clip.thumbnail_url,
						comment: clipCommentText.value,
						view_count: clip.view_count,
						tags: tagArray,
						isTournamentResult: isTournamentResult.checked,
						tournamentName: tournamentNameValue,
						tournamentTag: tournamentTagValue,
						winnerPlayer: winnerPlayerValue,
						winnerCharacter: winnerCharacterValue,
					}, {merge: true })
					.then(function() {
						console.log("Added " + documentName);
						
						// Get game name
						var gameIdHttpRequest = new XMLHttpRequest();
						gameIdHttpRequest.addEventListener('load', function()
						{
							gameData = JSON.parse(gameIdHttpRequest.responseText);
							console.log(gameData);
							if(gameData.data.length > 0)
							{
								var gameName = gameData.data[0].name;
								newClipDoc.set({
									game_name : gameName
								}, {merge: true })
								.then(function() {
									console.log("Game: " + gameName);
									
									newClipDoc.get().then(function(doc) {
										if (doc.exists) {
											var dataText = document.createElement('DIV');
											var getData = doc.data();
											var text = "title: " + getData.title + "<br>";
											text += "comment: " + getData.comment + "<br>";
											text += "game_name: " + getData.game_name + "<br>";
											text += "tags: [";
											for(i = 0; i < getData.tags.length; i++)
												text += getData.tags[i] + ", ";
											text += "]<br>";
											if(getData.isTournamentResult)
											{
												text += "【" + getData.tournamentName + "】<br>";
												text += getData.winnerPlayer + " (" + getData.winnerCharacter + ")<br>";
												text += "https://www.twitch.tv/" + getData.broadcaster_name + "<br>";
												text += "https://www.twitch.tv/videos/" + getData.video_id + "<br>";
											}
											dataText.innerHTML = text;
											embedClip.appendChild(dataText);
										} else {
											// doc.data() will be undefined in this case
											console.log("No such document!");
										}
									}).catch(function(error) {
										console.log("Error getting document:", error);
									});
								})
								.catch(function(error) {
									console.error("Error writing document: ", error);
								});
							}
						});
						gameIdHttpRequest.open('GET', 'https://api.twitch.tv/helix/games?id=' + clip.game_id);
						gameIdHttpRequest.setRequestHeader('Client-ID', 'bq7fu1ivn6tjovq0i8z8l5u6hkrznb');
						gameIdHttpRequest.send();
					})
					.catch(function(error) {
						console.error("Error writing document: ", error);
					});
				});
			});
			
			var clipId = clipLinkText.value;
			if(clipId.lastIndexOf('/') >= 0)
				clipId = clipId.substring(clipId.lastIndexOf('/') + 1);
			console.log("clipId=" + clipId);
			
			httpRequest.open('GET', 'https://api.twitch.tv/helix/clips?id=' + clipId);
			httpRequest.setRequestHeader('Client-ID', 'bq7fu1ivn6tjovq0i8z8l5u6hkrznb');
			httpRequest.send();
		});
		
		const updateViewButton = document.querySelector("#updateViewButton");
		updateViewButton.addEventListener("click", function()
		{
			db.collection("clips")
			.get()
			.then(function(querySnapshot) {
				console.log("Started");
				var delay = 1000;
				querySnapshot.forEach(function(doc) {
					setTimeout(updateViewCount, delay, doc);
					delay += 1000;
				});
				console.log("Finished");
			})
			.catch(function(error) {
				console.log("Error getting documents: ", error);
			});	
		});
		
		function updateViewCount(doc)
		{
			var httpRequest = new XMLHttpRequest();
			httpRequest.addEventListener('load', function()
			{
				clipList = JSON.parse(httpRequest.responseText);
				console.log(clipList);
				clipList.data.forEach(function(clip, index, array) {
					var documentName = clip.title + '-' + clip.id;
					var clipDoc = db.collection("clips").doc(documentName);
					console.log(documentName + ": " + clip.view_count);
					clipDoc.set({
							view_count: clip.view_count,
						}, {merge: true })
						.then(function() {
									
						})
						.catch(function(error) {
							console.error("Error writing document: ", error);
						});
				});
			});
			
			httpRequest.open('GET', 'https://api.twitch.tv/helix/clips?id=' + doc.data().id);
			httpRequest.setRequestHeader('Client-ID', 'bq7fu1ivn6tjovq0i8z8l5u6hkrznb');
			httpRequest.send();
			
			var d = new Date();
			console.log("send:" + d + "");
		}
		
	</script>
</div>
