---
layout: default
---
<div class="post-content well">

	{% if page.profile_pic %}
		<img class="row-picture" src="/static/img/player/{{ page.profile_pic }}">
	{% endif %}
	
	{% if page.profile_gfy %}
		<figure class="entry-gfy">
			<div class="gfyitem" data-autoplay="true" data-id="{{ page.profile_gfy }}" />
		</figure>
	{% endif %}
	
	<div class="social-icons">
	{% if page.twitter %}
        <a class="icon" href="{{ page.twitter }}"><i class="fa fa-twitter"></i></a>
    {% endif %}
	{% if page.twitch %}
        <a class="icon" href="{{ page.twitch }}"><i class="fa fa-twitch"></i></a>
    {% endif %}
	</div>
	
	{% if page.title %}
		<h2>{{ page.title }}</h2>
	{% endif %}
	
	<article class="content">
		<div class="post">{{ content }}</div>
		<hr />
	</article>
	
	<a class="twitter-moment" 
	href={{ page.moment_link }} 
	data-chrome="noheader nofooter noborders noscrollbar">>
		Moment
	</a> 
	
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>