---
layout: default
---
<div class="post-content well">

	{% if page.profile_pic %}
		<img class="row-picture" src="/static/img/player/{{ page.profile_pic }}">
	{% endif %}
	
	{% if page.gfy %}
		<figure class="entry-gfy">
			<div class="gfyitem" data-id="{{ page.gfy }}" data-autoplay="true"/>
		</figure>
	{% endif %}
	
	<a class="twitter-moment" 
	href={{ page.moment_link }} 
	data-chrome="noheader nofooter noborders noscrollbar">>
		Moment
	</a> 
	
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>